@tailwind base;
@tailwind components;

.device-content-large {
  top: calc(100% / 2902 * 335);
  height: calc(100% / 2902 * (2902 - 335 - 299));
  left: calc(100% / 1414 * 65);
  width: calc(100% / 1414 * (1414 - 65 - 65));
}

@tailwind utilities;

@layer base {
  a {
    @apply transition-colors
      hover:text-secondaryLight
      dark:hover:text-secondaryDark;
  }
  h1 {
    @apply text-2xl lg:text-4xl mt-2 mb-4;
  }
  h2 {
    @apply text-xl lg:text-2xl mt-8 mb-4;
  }
  p {
    @apply text-sm lg:text-base leading-relaxed mb-4;
  }
  li {
    @apply pl-4 mb-2;
  }
}
